html {
    height: 100%;
	margin: 0;
}

body {
    height: 100%;
	margin: 0;
}

select {
	cursor: pointer;
	outline: none;
	border: none;
}

::-webkit-scrollbar {
    width: 8px;
	height: 8px;
}
 
::-webkit-scrollbar-track {
    display: none;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.header {
	width: 100%;
	height: 44px;
	display: flex;
	align-items: center
}

.box {
	box-sizing: border-box;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.headline {
	color: #9db4b9;
	text-align: center;
	margin: 7px 0 5px 0;
}

.step {
	margin-top: 2px;
	padding: 6px;
	border-radius: 6px;
	border: 1px solid black;
    background: #9db4b9;
	display: flex;
	flex-direction: row;
}

.step-number {
	margin: 0 12px 0 4px;
	align-self: center;
}

.step-info {
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
}

.step-url {
	font-size: 0.9em;
}

#overlay {
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#container {
	display: flex;
	background: #0b444d;
	width: 100%;
	height: 100%;
}

#grabber {
	margin: 0 0 8px 8px;
	overflow: auto;
}

#steps {
	padding: 0;
	margin: 0;
	list-style-type: none;
	flex-wrap: wrap;
}

#run-btn {
	padding: 4px;
	margin-top: 8px;
}

#record-btn {
	padding: 4px;
	margin-top: auto;
}

#dragbar {
	width: 20px;
	cursor: ew-resize;
	flex: 0 0 auto;
	padding: 0;
}

#dragbar::before {
	content: '';
	display: block;
	width: 2px;
	height: calc(100% - 2px);
	background: #9db4b9;
	border: 1px solid black;
	margin: 0 auto;
}

#browser {
	margin-right: 8px;
	margin-bottom: 8px;
}

#url {
	outline: none;
	height: 24px;
	width: 100%;
	background: rgba(255, 255, 255, 0.6);
	border: 1px solid black;
}

#website {
	width: calc(100% - 2px);
	border: 1px solid black;
	height: 100%;
}